<html data-bs-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{#> title}}{{/title}} | ExWt</title>

    <link rel="stylesheet" href={{ manifest "main.css" }} />
    {{#> styles}}
    {{/styles}}


  </head>
  <body>
    {{> includes/_bootstrap_icon }}
    {{> includes/_header }}

    <main>
    {{#> body}}
    {{/body}}
    </main>

    {{> includes/_footer }}

    <script text="javascript" src={{manifest "main.js" }}></script>
    {{#> scripts}}
    {{/scripts}}

  </body>
</html>


