{{#> layouts/_base}}

{{#*inline "title"}}
  {{#if title}}
    {{~title~}}
  {{else}}
    Blogs
  {{/if}}
{{/inline}}

{{#*inline "styles"}}
    <link rel="stylesheet" href="{{manifest "blogStyles.css"}}">
{{/inline}}

{{#*inline "body"}}
<!-- Offcanvas button on smaller screens -->
<button
  type="button"
  data-bs-toggle="offcanvas"
  data-bs-target="#offcanvasResponsive"
  aria-controls="offcanvasResponsive"
  class="btn blog__offcanvas-btn rounded-circle p-2 d-block d-md-none position-fixed top-50 start-0 ms-2 z-3"
>
  <svg
    class="bi p-0"
    width="16"
    height="16"
  >
    <use xlink:href="#chevron-right"></use>
  </svg>
</button>

<div class="blog container py-5 d-grid flex-column">
  <div class="d-flex row g-4 h-100">
    <!-- Offcanvas component -->
    <div
      tabindex="-1"
      id="offcanvasResponsive"
      aria-labelledby="offcanvasResponsiveLabel"
      class="blog__offcanvas offcanvas-md offcanvas-start col-md-4 col-lg-3 mt-0"
    >
      <div class="offcanvas-header">
        <div class="d-flex align-items-center mb-0 mb-md-3 me-md-auto text-decoration-none">
          <svg
           class="bi me-2"
           width="40"
           height="32"
          >
            <use xlink:href="#bootstrap"></use>
          </svg>

          <span class="fs-4">Categories</span>
        </div>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          data-bs-target="#offcanvasResponsive"
          aria-label="Close"
        ></button>
      </div>

      <div class="offcanvas-body position-sticky top-0 bottom-0">
        <div class="d-flex flex-column flex-shrink-0 w-100">
          <!-- Sidebar items -->
          <ul class="nav nav-pills flex-column mb-auto">
            {{#each topCategories as |category|}}
              {{> includes/_blog_sidebar_item category=category categoryQuery=@root.categoryQuery }}
            {{/each}}
          </ul>

          <hr>

          <!-- User profile dropdown -->
          <div class="dropdown">
            <button
              type="button"
              id="dropdownUser1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              class="btn d-flex align-items-center text-decoration-none dropdown-toggle border-0"
            >
              <img
                src="https://github.com/mdo.png"
                alt="avatar user"
                width="32"
                height="32"
                class="rounded-circle me-2"
              >

              <strong>mdo</strong>
            </button>

            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser1">
              <li><a class="dropdown-item" href="#">New project...</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <!-- Main content -->
    <div class="col-12 col-md-8 col-lg-9 mt-3">
      <div class="d-flex flex-column justify-content-between gap-2">
        {{#each posts as |post|}}
          {{> includes/_article_list_blog_item post=post }}

        {{/each}}
      </div>
    </div>
  </div>
</div>
{{/inline}}

{{#*inline "scripts"}}
{{/inline}}

{{/layouts/_base}}

