{{#> layouts/_base}}

{{#*inline "title"}}
  {{#if title}}
    {{title}}
  {{else}}
    Register
  {{/if}}
{{/inline}}

{{#*inline "styles"}}
{{/inline}}

{{#*inline "body"}}
<div class="container py-3">
  <div class="form-login w-100 m-auto">

    <div class="d-flex flex-column align-items-center">
      <img class="mb-4" src="https://getbootstrap.com//docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
      <h1 class="h1 mb-4 fw-normal">Sign up for free</h1>
    </div>

    <form id="loginForm" class="needs-validation" novalidate action="/login" method="POST">
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingUsername" placeholder="Username">
        <label for="floatingUsername">Username<span class="text-danger">*</span></label>
        <div id="usernameMessage" class="form-text">
          Username is a unique handle that is used to log in and identify you on
          the platform.
        </div>
      </div>

      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address <span class="text-danger">*</span></label>
        <div id="emailMessage" class="form-text">
          A valid email that can be used for verification and communication.
        </div>
      </div>

      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password <span class="text-danger">*</span></label>
        <div id="passwordMessage" class="form-text">
          <p class="mb-2">Password must follow these rules:</p>
          <ul class="mb-3">
            <li>At least 8 characters</li>
            <li>At least one uppercase letter</li>
            <li>At least one lowercase letter</li>
            <li>At least one number</li>
            <li>At least one special character</li>
          </ul>
        </div>
      </div>

      <button class="btn btn-primary w-100 py-2 mb-4" type="submit">Sign in</button>
      <a href="/login" class="btn btn-outline-secondary w-100 py-2">I have an account</a>

      <p class="mt-5 mb-3 text-body-secondary">
        By signing in to our application, you agree to our <a href="#">Terms of
        Service</a> and <a href="#">Privacy Policy</a>.
      </p>
    </form>
  </div>
</div>
{{/inline}}

{{#*inline "scripts"}}
  <script src="/js/home.js"></script>
{{/inline}}

{{/layouts/_base}}

