@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

.article {
  &-list-short-item {
    &__thumbnail {
      height: 10rem;
      background: var(--bs-secondary-color);
      animation: pulse 1.5s infinite;

      @media (min-width: 992px) {
        height: 6rem;
      }
    }
  }

  &-list-archive {
    &__year {
      position: sticky;
      top: 0;
      background: var(--bs-body-bg);
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }

    &__item {
      line-height: 1.5;

      &__link {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-clamp: 1;
        -webkit-line-clamp: 1;
      }

      &__date {
        font-size: 0.8rem;
        color: var(--bs-secondary-color);

        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-clamp: 1;
        -webkit-line-clamp: 1;
      }
    }
  }

  &-list-blog {
    &-item {
      overflow: hidden;
      display: block;
      position: relative;
      padding: 0.75rem;
      border-radius: 8px;
      margin-bottom: 0.75rem;
      transition-property: border-color, opacity;
      transition-timing-function: ease-in-out;
      transition-duration: 300ms;
      border: 1px solid var(--bs-border-color);

      [data-bs-theme="dark"] & {
        background: mix($gray-800, $blue-900, 95%);
      }

      [data-bs-theme="light"] & {
        background: mix($gray-200, $blue-100, 95%);
      }

      [data-bs-theme="dark"] &:hover {
        border-color: var(--bs-secondary-bg);
        background: mix($gray-700, $blue-900, 95%);
      }

      [data-bs-theme="light"] &:hover {
        border-color: var(--bs-secondary-bg);
        background: mix($gray-300, $blue-100, 95%);
      }

      @include media-breakpoint-up(md) {
        padding: 1rem;
      }

      @include media-breakpoint-up(lg) {
        padding: 1.5rem;
      }

      &__container {
        display: flex;
        height: 100%;
        margin: 0;
        padding: 0;
        flex-direction: column;
        gap: 0.25rem;

        @include media-breakpoint-up(md) {
          gap: 0.5rem;
        }

        @include media-breakpoint-up(lg) {
          flex-direction: row;
          gap: 1rem;
        }
      }

      &__date {
        font-size: 0.8rem;
        color: var(--bs-secondary-color);
        display: flex;
        align-items: center;
        gap: 0.5rem;

        span {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          line-clamp: 1;
          -webkit-line-clamp: 1;
        }

        @include media-breakpoint-up(lg) {
          font-size: 1rem;
        }
      }

      &__category {
        font-size: 0.8rem;
        font-weight: 500;
        color: var(--bs-white);
        align-items: center;
        gap: 0.5rem;
        padding: 0.25rem 0.5rem;
        border-radius: 9999px;
        background: $indigo-500;
        transition: background 300ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
        display: none;

        a {
          color: currentColor;
          text-decoration: none;
        }

        &:hover {
          background: $indigo-600;
        }

        @include media-breakpoint-up(sm) {
          display: flex;
        }

        @include media-breakpoint-up(lg) {
          font-size: 1rem;
          font-weight: 600;
        }
      }

      &__link {
        display: flex;
        width: 100%;
        height: 240px;
        background: var(--bs-secondary-bg);
        animation: pulse 1.5s;

        @include media-breakpoint-up(md) {
          height: 280px;
        }

        @include media-breakpoint-up(lg) {
          order: 1;
          width: percentage(4/12);
        }

        @include media-breakpoint-up(xl) {
          height: 320px;
        }
      }

      &__image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        align-self: flex-start;
      }

      &__content {
        display: flex;
        flex-direction: column;

        @include media-breakpoint-up(lg) {
          order: 0;
          width: percentage(8/12);
        }
      }

      &__title {
        margin-bottom: 0.5rem;
        text-decoration: none;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        transition: color 300ms cubic-bezier(0.075, 0.82, 0.165, 1);

        [data-bs-theme="dark"] & {
          color: $gray-100;
        }

        [data-bs-theme="light"] & {
          color: $gray-900;
        }

        [data-bs-theme="dark"] &:hover {
          color: $gray-300;
        }

        [data-bs-theme="light"] &:hover {
          color: $gray-700;
        }

        h2 {
          font-size: 0.85rem;
          font-weight: 700;

          @include media-breakpoint-up(sm) {
            font-size: 1rem;
          }

          @include media-breakpoint-up(lg) {
            font-size: 1.5rem;
          }
        }

        &:hover {
          color: var(--bs-body-color);
        }
      }

      &__excerpt {
        display: none;

        @include media-breakpoint-up(lg) {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          line-clamp: 2;
          -webkit-line-clamp: 2;
        }
      }

      &__credit {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        margin-top: auto;
      }

      &__avatar {
        margin-right: 0.75rem;
        border-radius: 50%;
        width: 1.5rem;
        height: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        @include media-breakpoint-up(md) {
          width: 1.75rem;
          height: 1.75rem;
        }

        @include media-breakpoint-up(lg) {
          width: 2rem;
          height: 2rem;
        }

        img {
          width: 105%;
          height: 105%;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      &__author {
        font-size: 0.8rem;
        color: var(--bs-secondary-color);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-clamp: 1;
        -webkit-line-clamp: 1;

        @include media-breakpoint-up(md) {
          font-size: 1rem;
        }
      }

      &__metadata {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        flex-wrap: wrap;
      }

      &__views,
      &__likes,
      &__comments,
      &__time-to-read {
        font-size: 13px;
        cursor: default;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        border-radius: 4px;
        padding: 0.125rem 0.375rem;
        transition: background 300ms ease-in-out;

        span {
          white-space: nowrap;
        }

        &:hover {
          background: $gray-600;
          color: $gray-100;
        }

        @include media-breakpoint-up(md) {
          font-size: 15px;
        }
      }

      [data-bs-theme="dark"] &__views,
      [data-bs-theme="dark"] &__likes,
      [data-bs-theme="dark"] &__comments,
      [data-bs-theme="dark"] &__time-to-read {
        background: $gray-600;
        color: $gray-200;
      }

      [data-bs-theme="light"] &__views,
      [data-bs-theme="light"] &__likes,
      [data-bs-theme="light"] &__comments,
      [data-bs-theme="light"] &__time-to-read {
        background: $gray-400;
        color: $gray-800;
      }
    }
  }
}

@keyframes pulse {
  0% {
    background-color: var(--bs-secondary-color);
  }

  50% {
    background-color: var(--bs-secondary-color-50);
  }

  100% {
    background-color: var(--bs-secondary-color);
  }
}
