.article {
  &-list-short-item {

    &__thumbnail {
      height: 10rem;
      background: var(--bs-secondary-color);
      animation: pulse 1.5s infinite;


      @media (min-width: 992px) {
        height: 6rem;
      }
    }
  }

  &-list-archive {
    &__year {
      position: sticky;
      top: 0;
      background: var(--bs-body-bg);
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }

    &__item {
      line-height: 1.5;

      &__link {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-clamp: 1;
        -webkit-line-clamp: 1;
      }

      &__date {
        font-size: 0.8rem;
        color: var(--bs-secondary-color);

        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-clamp: 1;
        -webkit-line-clamp: 1;
      }
    }
  }
}

@keyframes pulse {
  0% {
    background-color: var(--bs-secondary-color);
  }

  50% {
    background-color: var(--bs-secondary-color-50);
  }

  100% {
    background-color: var(--bs-secondary-color);
  }
}
