// Configuration
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

.faq__title {
  font-size: 2rem;
  line-height: 2.25rem;
  font-weight: 600;

  @include media-breakpoint-up(md) {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
  }

  @include media-breakpoint-up(lg) {
    font-size: 2.5rem;
    line-height: 2.75rem;
    font-weight: 800;
  }

  [data-bs-theme="dark"] & {
    color: var(--bs-gray-100);
  }

  [data-bs-theme="light"] & {
    color: var(--bs-gray-900);
  }
}

.faq__sub-title {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;

  @include media-breakpoint-up(md) {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 500;
  }

  @include media-breakpoint-up(lg) {
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 600;
  }
}

.faq__footer {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
  margin-top: 2rem;

  @include media-breakpoint-up(md) {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
  }

  @include media-breakpoint-up(lg) {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    margin-top: auto;
  }
}

.faq__form > input {
  padding: 0;
  padding-left: 4rem;
  padding-right: 2rem;
  height: 3.5rem;
}

[data-bs-theme="dark"] .faq__form > input:focus {
  box-shadow: 0 8px 16px rgba($gray-900, 0.25);
  border-color: var(--bs-border-color);
}

[data-bs-theme="light"] .faq__form > input:focus {
  box-shadow: 0 8px 16px rgba($gray-700, 0.175);
  border-color: var(--bs-border-color);
}

.faq__form > button {
  width: 3.5rem;
  background-color: transparent;
  border-color: transparent;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: var(--bs-secondary-text-emphasis);
}

.faq__form > button:hover {
  background-color: var(--bs-secondary-bg);
  color: var(--bs-secondary-text-emphasis);
  border-color: var(--bs-border-color);
}

.faq__form > button:focus {
  box-shadow: none;
  outline: none;
  border: none;
}

.accordion-item {
  border: none;
  border-radius: 0;
  margin-bottom: var(--bs-accordion-body-padding-y);
}

.accordion-button {
  position: relative;
  border: 1px solid var(--bs-accordion-border-color);
  border-radius: var(--bs-accordion-border-radius);
  box-shadow: none;
  font-weight: 700;
}

.accordion-button:focus {
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
}

[data-bs-theme="dark"] .accordion-button:not(.collapsed) {
  color: var(--bs-gray-900);
  background: var(--bs-gray-100);
}

[data-bs-theme="light"] .accordion-button:not(.collapsed) {
  color: var(--bs-white);
  background: var(--bs-gray-900);
}

.accordion-button::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 3px;
  right: calc(var(--bs-accordion-body-padding-x) - 2.5px);
}

.accordion-button::after {
  position: absolute;
  content: "";
  width: 3px;
  height: 8px;
  flex-shrink: 0;
  right: var(--bs-accordion-body-padding-x);
  background-image: none;
}

[data-bs-theme="dark"] .accordion-button:not(.collapsed)::before,
[data-bs-theme="dark"] .accordion-button:not(.collapsed)::after {
  background-color: var(--bs-gray-900);
  color: var(--bs-white);
  background-image: none;
}

[data-bs-theme="dark"] .accordion-button::before,
[data-bs-theme="dark"] .accordion-button::after {
  background-color: var(--bs-gray-100);
  color: var(--bs-gray-900);
  background-image: none;
}

[data-bs-theme="light"] .accordion-button:not(.collapsed)::before,
[data-bs-theme="light"] .accordion-button:not(.collapsed)::after {
  background-color: var(--bs-white);
  color: var(--bs-gray-900);
  background-image: none;
}

[data-bs-theme="light"] .accordion-button::before,
[data-bs-theme="light"] .accordion-button::after {
  background-color: var(--bs-gray-900);
  color: var(--bs-white);
  background-image: none;
}

.accordion-button:not(.collapsed)::after {
  transform: rotate(-270deg);
}
