.form-login {
  max-width: var(--bs-breakpoint-sm);
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form {
  &-text {
    min-height: 16px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
}

#passwordVisibilityToggle {
  position: absolute;
  cursor: pointer;
  transition: opacity 0.15s ease-in-out;
  opacity: 0;
  margin-right: 8px;
}

#passwordVisibilityToggle > button {
  background: none;
  border: none;
}

#passwordVisibilityToggle > button:focus,
#passwordVisibilityToggle > button:active {
  outline: none;
}

.form-floating:hover > #passwordVisibilityToggle {
  opacity: 1;
}

.form-floating:has(.form-control.is-valid) > #passwordVisibilityToggle,
.form-floating:has(.form-control.is-invalid) > #passwordVisibilityToggle {
  margin-right: 32px;
}
