$enable-negative-margins: true;

@import "bootstrap/scss/bootstrap";


// https://github.com/twbs/examples/issues/32#issuecomment-1532561291
$bootstrap-icons-font-src: url("~bootstrap-icons/font/fonts/bootstrap-icons.woff2") format("woff2"), url("~bootstrap-icons/font/fonts/bootstrap-icons.woff") format("woff");

@import "bootstrap-icons/font/bootstrap-icons.scss";


@import "mixins";
// @import "utility";
// @import "grid";
@import "breadcrumb";
@import "comment-item";
@import "accordion";

@import "./headers.scss";
@import "./textarea.scss";
@import "./article.scss";
@import "./form.scss";
@import "./blog.scss";
@import "./user.scss";

html {
  height: 100%;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

main>.container {
  padding-top: 3rem;
  padding-bottom: 3rem;
  min-height: calc(100vh - 218px);
}

.offcanvas-backdrop {
  margin-top: 0;
}

.hover-card {
  position: absolute;
  top: 0;
  left: 0;
  width: max-content;
  max-width: 120px;
  z-index: 100;
}
