@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins/breakpoints";

.user {
  &__avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    overflow: hidden;

    @include media-breakpoint-up(md) {
      width: 3rem;
      height: 3rem;
    }

    @include media-breakpoint-up(lg) {
      width: 5.25rem;
      height: 5.25rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__sidebar {
    .nav-link {
      cursor: pointer;
      transition: all 0.1s ease-in;

      [data-bs-theme="dark"] &:hover {
        background-color: mix($blue-700, $gray-700, 50%);
      }

      [data-bs-theme="dark"] &:hover {
        background-color: mix($blue-600, $gray-600, 80%);
      }

      [data-bs-theme="light"] &:hover {
        background-color: mix($blue-100, $gray-100, 50%);
      }

      [data-bs-theme="light"] &.active:hover {
        background-color: mix($blue-500, $gray-600, 50%);
      }
    }
  }

  &__activities {
  }

  &__activity {
    padding: 1rem;

    [data-bs-theme="dark"] & {
      background-color: mix($gray-800, $gray-900, 60%);
    }

    [data-bs-theme="dark"] &:hover {
      background-color: mix($gray-700, $gray-900, 80%);
    }

    &__icon {
      width: 1rem;
      height: 1.5rem;
      border-radius: 50%;
      overflow: hidden;
      display: none;
      visibility: hidden;

      @include media-breakpoint-up(sm) {
        display: flex;
        visibility: visible;
        align-items: center;
        justify-content: center;
      }
    }

    &__icon > .bi-chat {
      color: var(--bs-info);
    }

    &__icon > .bi-heart {
      color: var(--bs-pink);
    }

    &__header {
      width: calc(100%);

      @include media-breakpoint-up(sm) {
        width: calc(100% - 1.5rem);
      }
    }

    &__content {
      width: calc(100%);
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      line-clamp: 3;

      @include media-breakpoint-up(sm) {
        width: calc(100% - 1.5rem);
        margin-left: 1.5rem;
      }
    }
  }

  &-post {
    &__description > p {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      box-orient: vertical;
      line-clamp: 3;
      overflow: hidden;
    }
  }

  &__pagination {
    display: none;
    visibility: hidden;

    @include media-breakpoint-up(sm) {
      display: flex;
      visibility: visible;
    }

    [data-bs-theme="dark"] & .page-link {
      background-color: mix($gray-800, $gray-700, 50%);
    }

    [data-bs-theme="dark"] & .page-link:hover {
      background-color: mix($gray-700, $gray-600, 50%);
    }

    [data-bs-theme="dark"] & .page-link.active {
      background-color: mix($blue-400, $blue-500, 50%);
    }

    [data-bs-theme="dark"] & .page-link:hover.active {
      background-color: mix($blue-500, $blue-500, 50%);
    }

    [data-bs-theme="dark"] & .disabled > .page-link {
      background-color: mix($gray-700, $gray-600, 50%);
    }
  }
}
