<footer class="container mt-4">
  <div
    class="d-flex justify-content-between align-items-start align-items-md-center w-100 mb-3 border-bottom flex-column flex-md-row"
  >
    <ul
      class="nav justify-content-md-center align-items-md-center align-items-start flex-column flex-md-row"
    >
      <li class="nav-item">
        <a href="/" class="nav-link px-2 text-body-secondary">Home</a>
      </li>
      <li class="nav-item">
        <a href="/blogs" class="nav-link px-2 text-body-secondary">Blogs</a>
      </li>
      <li class="nav-item">
        <a href="/archives" class="nav-link px-2 text-body-secondary"
          >Archives</a
        >
      </li>
      <li class="nav-item">
        <a href="/faq" class="nav-link px-2 text-body-secondary">FAQs</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-body-secondary">About</a>
      </li>
    </ul>

    <div
      class="d-flex form-check form-switch ps-0 flex-row-reverse flex-md-row gap-2 align-items-center flex-wrap-reverse"
    >
      <input
        class="form-check-input float-none ms-0"
        type="checkbox"
        role="switch"
        id="themeSwitch"
      />
      <label class="form-check-label ps-0" for="themeSwitch">Dark theme</label>
    </div>
  </div>
  <p class="text-center text-body-secondary pb-4">
    ExpressTS - Webpack Template
  </p>
</footer>
