<footer class="container mt-4">
  <div class="d-flex justify-content-between align-items-center w-100 mb-3 border-bottom">
    <ul class="nav justify-content-center">
      <li class="nav-item"><a
          href="/"
          class="nav-link px-2 text-body-secondary"
        >Home</a></li>
      <li class="nav-item"><a
          href="/blogs"
          class="nav-link px-2 text-body-secondary"
        >Blogs</a></li>
      <li class="nav-item"><a
          href="/archives"
          class="nav-link px-2 text-body-secondary"
        >Archives</a></li>
      <li class="nav-item"><a
          href="/faq"
          class="nav-link px-2 text-body-secondary"
        >FAQs</a></li>
      <li class="nav-item"><a
          href="#"
          class="nav-link px-2 text-body-secondary"
        >About</a></li>
    </ul>

    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="themeSwitch">
      <label class="form-check-label" for="themeSwitch">Dark theme</label>
    </div>
  </div>
  <p class="text-center text-body-secondary pb-4">ExpressTS - Webpack Template</p>
</footer>
