{{#if (eq page "/login")}}
<a href="/login" class="btn btn-secondary active me-lg-3">Login</a>
{{else}}
<a href="/login" class="btn btn-outline-secondary me-lg-3">Login</a>
{{/if}}

{{#if (eq page "/register")}}
<a href="/register" class="btn btn-warning active">Sign-up</a>
{{else}}
<a href="/register" class="btn btn-outline-warning">Sign-up</a>
{{/if}}
