{{#if partial}}

<title>{{ title }}</title>
{{> includes/_user_comments }}

{{> includes/_user_nav_items user=user page=page  }}

{{else}}

{{#> includes/_user_template }}

{{#*inline "user_content"}}
{{> includes/_user_comments }}
{{/inline}}

{{/includes/_user_template}}

{{/if}}
